<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/doctorstyle.css">
</head>

<body>
    <header>
        <!-- Nav Bar Start -->
        <div class="navbar">
            <div class="nav-logo">
                <div class="logo">MedEase</div>
            </div>
            <div class="nav-services">
                <p>Home</p>
                <p>About Us</p>
                <p>Login / Signin</p>
            </div>
            <div class="nav-call">
                <i class="fa-solid fa-phone-volume"></i>
                Call Now
            </div>
        </div>
        <!-- Nav Bar End -->

        <!-- Panel Bar Start -->

        <div class="panel">
            <div class="panel-search">
                <input type="text" placeholder="Search by Hospital" class="panel-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="panel-services">
                <select name="" id="" class="panel-all">
                    <option value="">Hospitals</option>
                </select>
                <select name="" id="" class="panel-all">
                    <option value="">Treaments</option>
                </select>
                <select name="" id="" class="panel-all">
                    <option value="">Services</option>
                </select>
                <select name="" id="" class="panel-all">
                    <option value="">Academics</option>
                </select>
                <select name="" id="" class="panel-all">
                    <option value="">International Patients</option>
                </select>
                <select name="" id="" class="panel-all">
                    <option value="">Quick Enquiry</option>
                </select>
            </div>
        </div>

        <!-- Panel Bar End -->

        <!-- Discount Bar Start -->

        <div class="discount">
            <p>GET 10% DISCOUNT ON ALL IN-HOSPITAL APPOINTMENTS BOOKED AND PAID ONLINE.</p>
        </div>

        <!-- Discount Bar End -->

        <div class="mission">
            <div class="mission-msg">
                <h1 style="color: darkgreen; font-weight: 900;">Your Wellness Is Our Mission</h1>
            </div>
            <div class="mission-bar">
                <div class="mission-search">
                    <input type="text" placeholder="Search for Doctors'" class="mission-input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="mission-search">
                    <input type="text" placeholder="Location Search" class="mission-input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="mission-book">
                    BOOK
                </div>
            </div>
        </div>
        </header>

        <main>
        <div class="doctor-section">
            <div class="box1 box">
                <div>
                    <img src="" alt="" style="padding-left: 3px; padding-top: 10px;">
                    <div class="doctor1 doctor">
                        Dr. Anu Kumari
                    </div>
                </div>
                <div style="margin-left: 10px;">
                    Dr. Anu Kumari  <br>
                    Group Medical Director - Max Healthcare & Senior Director - Institute of Internal Medicine
                    <div class="book-app" style="height: 30px; width: 200px; background-color: blue; margin-top: 40px; color: white; display: flex;align-items: center; justify-content: center;  border-radius: 5px;">
                        BOOK APPOINTMENT
                    </div>
                </div>
            </div>

            <div class="box2 box">
                <div>
                    <img src="" alt="" style="padding-left: 3px; padding-top: 10px;">
                    <div class="doctor1 doctor">
                        Dr. Anuj Kumar
                    </div>
                </div>
                <div style="margin-left: 10px;">
                    Dr. Anuj Kumar  <br>
                    Medical Director - Max Healthcare & Senior Director - Institute of Internal Medicine
                    <div class="book-app" style="height: 30px; width: 200px; background-color: blue; margin-top: 40px; color: white; display: flex;align-items: center; justify-content: center;  border-radius: 5px;">
                        BOOK APPOINTMENT
                    </div>
                </div>
            </div>

            <div class="box3 box">
                <div>
                    <img src="" alt="" style="padding-left: 3px; padding-top: 10px;">
                    <div class="doctor1 doctor">
                        Dr. Kumud Komal
                    </div>
                </div>
                <div style="margin-left: 10px;">
                    Dr. Kumud Komal <br>
                    Group Medical Director - Max Healthcare & Senior Director - Institute of Internal Medicine
                    <div class="book-app" style="height: 30px; width: 200px; background-color: blue; margin-top: 40px; color: white; display: flex;align-items: center; justify-content: center;  border-radius: 5px;">
                        BOOK APPOINTMENT
                    </div>
                </div>
            </div>
            <div class="box4 box">
                <div>
                    <img src="" alt="" style="padding-left: 3px; padding-top: 10px;">
                    <div class="doctor1 doctor">
                        Dr. Anshuia 
                    </div>
                </div>
                <div style="margin-left: 10px;">
                    Dr. Anshuia     <br>
                    Group Medical Director - Max Healthcare & Senior Director - Institute of Internal Medicine
                    <div class="book-app" style="height: 30px; width: 200px; background-color: blue; margin-top: 40px; color: white; display: flex;align-items: center; justify-content: center;  border-radius: 5px;">
                        BOOK APPOINTMENT
                    </div>
                </div>
            </div>
        </div>
        <div class="doctor-section">
            <div class="box1 box">
                <div>
                    <img src="" alt="" style="padding-left: 3px; padding-top: 10px;">
                    <div class="doctor1 doctor">
                        Dr. Dhruv
                    </div>
                </div>
                <div style="margin-left: 10px;">
                    Dr. Dhruv   <br>
                    Group Medical Director - Max Healthcare & Senior Director - Institute of Internal Medicine
                    <div class="book-app" style="height: 30px; width: 200px; background-color: blue; margin-top: 40px; color: white; display: flex;align-items: center; justify-content: center;  border-radius: 5px;">
                        BOOK APPOINTMENT
                    </div>
                </div>
            </div>
            <div class="box2 box">
                <div>
                    <img src="" alt="" style="padding-left: 3px; padding-top: 10px;">
                    <div class="doctor1 doctor">
                        Dr. Chirag
                    </div>
                </div>
                <div style="margin-left: 10px;">
                    Dr. Chirag  <br>
                    Group Medical Director - Max Healthcare & Senior Director - Institute of Internal Medicine
                    <div class="book-app" style="height: 30px; width: 200px; background-color: blue; margin-top: 40px; color: white; display: flex;align-items: center; justify-content: center;  border-radius: 5px;">
                        BOOK APPOINTMENT
                    </div>
                </div>
            </div>
            <div class="box3 box">
                <div>
                    <img src="" alt="" style="padding-left: 3px; padding-top: 10px;">
                    <div class="doctor1 doctor">
                        Dr. Patel Shiv
                    </div>
                </div>
                <div style="margin-left: 10px;">
                    Dr. Patel Shiv <br>
                    Group Medical Director - Max Healthcare & Senior Director - Institute of Internal Medicine
                    <div class="book-app" style="height: 30px; width: 200px; background-color: blue; margin-top: 40px; color: white; display: flex;align-items: center; justify-content: center;  border-radius: 5px;">
                        BOOK APPOINTMENT
                    </div>
                </div>
            </div>
            <div class="box4 box">
                <div>
                    <img src="" alt="" style="padding-left: 3px; padding-top: 10px;">
                    <div class="doctor1 doctor">
                        Dr. Gargi
                    </div>
                </div>
                <div style="margin-left: 10px;">
                    Dr. Gargi   <br>
                    Group Medical Director - Max Healthcare & Senior Director - Institute of Internal Medicine
                    <div class="book-app" style="height: 30px; width: 200px; background-color: blue; margin-top: 40px; color: white; display: flex;align-items: center; justify-content: center;  border-radius: 5px;">
                        BOOK APPOINTMENT
                    </div>
                </div>
            </div>
        </div>
        
        <hr style="height: 3px; background-color: #008B8B;">

        <div class="main-view">

            <div class="view-more">
                VIEW MORE
            </div>

        </div>

        </main>

        <footer>
            <div class="foot-panel1">
                Back to Top
            </div>
            <div class="foot-panel2">
                <ul>
                    <p>Get to Know Us</p>
                    <a href="#">Careers</a>
                    <a href="#">Blog</a>
                    <a href="#">About DocApp</a>
                    <a href="#">Relations</a>
                    <a href="#">Devices</a>
                    <a href="#">Sciences</a>
                </ul>
                <ul>
                    <p>Make Health with us</p>
                    <a href="#">Content</a>
                    <a href="#">Environment</a>
                    <a href="#">About Health</a>
                    <a href="#">Invest in You</a>
                    <a href="#">DocApp Advices</a>
                    <a href="#">DocApp desk</a>
                </ul>
                <ul>
                    <p>Products</p>
                    <a href="#">Doctors' Advice</a>
                    <a href="#">Login to more products</a>
                    <a href="#">About products</a>
                    <a href="#">InRelations</a>
                    <a href="#">Amage Gagdets</a>
                    <a href="#">Details</a>
                </ul>
                <ul>
                    <p>Let Us help</p>
                    <a href="#">Carries</a>
                    <a href="#">News & Events</a>
                    <a href="#">Education</a>
                    <a href="#">Investor</a>
                    <a href="#">Feedback</a>
                    <a href="#"></a>
                    
                </ul>
            </div>
    
            <div class="foot-panel3">
                <div class="foot-pimg">
                    LOGO
                </div>
            </div>
    
            <div class="foot-panel4">
                <div class="pages">
                    <a href="#">Conditions of Use</a>
                    <a href="#">Privacy Notices</a>
                    <a href="#">Your Ads Privacy Choices</a>
                </div>
                <div class="copyright">
                    © 1996-2023, DocApp.com, Inc. or its affiliates
                </div>
            </div>
    
        </footer>

    <!-- </header> -->
</body>

</html>
