<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedEase| Home Page</title>
    <link rel="stylesheet" href="/M2T1-Doctor_Appointment/mysite/static/css/style.css">
    
<!-- html code html -->
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">MedEase</a></div>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#aboutus">ABOUT US</a></li>
                <li><a href="/login/">LOGIN/SINGUP</a></li>
                <button><a href="#">CALL NOW</a></button>
            </ul>
        </div>
    </nav>
    
    <h1 class="centered-heading">
        Schedule Your Appointment Online
        <p class="discount-code">use code <strong>SMVDU20</strong> to get 20% discount</p>
    </h1>

    <div class="container">
        <form>
            <input class="bar1" type="text" placeholder="Search for Doctor...">
            <input class="bar2" type="text" placeholder="Search for Location...">
            <button class="book" type="submit"><a href="#">BOOK</a></button>
        </form>
    </div>
    <div class="image-container">
        <!-- insert photo -->
        <img src="/static/images/doctor-consult-illustration.svg">
        <h2>
            Get Best Doctors At Your Fingertips.
            <p class="text-down">
                Access top notch healthcare with ease our website connects you to the best doctors effortlessly.
            </p>
        </h2>
    </div>
    <hr>

    <p style="font-size: 40px; margin-top: 30px; margin-left: 100px;">Specialities</p>
    <div style="display: inline-flex;">
        <div class="left-disease">
            <p style="margin-top: 30px;"><img class="image" src="/static/images/cancer-ribbon-clipart-teal-7.png">Cancer-Care</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Dentalcare.png">Dental Care</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Darmatology.jpeg">Darmatology</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Cardiology.png">Cardiology</p>
        </div>
    </div>
        <div style="display: inline-flex;">
        <div class="right-disease">
            <p style="margin-top: 30px;"><img class="image" src="/static/images/ENT.jpeg">ENT (Ear-Nose-Throat)</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Gastroinstential.jpeg">Gastroinstential</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/fertility.png">IVF Infertility</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/lungtransplant.png">Lung Transplantation</p>
        </div>
    </div>
    <br>
    <!-- <button class="view-more">
        VIEW MORE
    </button> -->

    
<hr>
<section id="aboutus" class="section">
<p style="font-size: 40px; margin-top: 30px; text-align: center;">About Us</p>
<p style="font-size: 1.2em; text-align: justify; margin: 2% 10% 2% 10%">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
    literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
    College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
    going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
    comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
    Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
    1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original
    form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
</section>
<hr>



    <!-- Footer  -->
    <div class="footer">
        <div class="left-footer">
            <p style="font-size: 40px;">MedEase</p>
            <p style="margin-left: 4px;margin-top: 10px;">SMVDU, Katra, 182320</p>

        </div>
        <div class="right-footer">
            <p style="margin: 10px;"><a href="#">Links</a></p>
            <p style="margin: 10px;"><a href="#aboutus">About Us</a></p>
            <p style="margin: 10px;"><a href="#">Leadership</a></p>
            <p style="margin: 10px;"><a href="#">Careers</a></p>
            <p style="margin: 10px;"><a href="#">Investor</a></p>
            <p style="margin: 10px;"><a href="#">Contact Us</a></p>
        </div>
        <p>&copy; 2023 MedEase. All Rights Reserved.</p>
    </div>
</body>
</html>
