<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDEASE.in</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="c.css">

</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">MEDEASE</a></div>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="login2.html">LOGIN/SINGUP</a></li>
                <button><a href="#">CALL NOW</a></button>
            </ul>
        </div>
    </nav>
    
    <h1 class="centered-heading">
        Schedule Your Appointment Online
        <p class="discount-code">use code <strong>SMVDU20</strong> to get 20% discount</p>
    </h1>

    <div class="container">
        <form>
            <input class="bar1" type="text" placeholder="Search for Doctor...">
            <input class="bar2" type="text" placeholder="Search for Location...">
            <button class="book" type="submit"><a href="#">BOOK</a></button>
        </form>
    </div>
    <div class="image-container">
        <!-- insert photo -->
        <img src="/static/images/doctor-consult-illustration.svg">
        <h2>
            Get Best Doctors At Your Fingertips.
            <p class="text-down">
                Access top notch healthcare with ease our website connects you to the best doctors effortlessly.
            </p>
        </h2>
    </div>
    <hr>

    <p style="font-size: 40px; margin-top: 30px; margin-left: 100px;">Specialities</p>
    <div style="display: inline-flex;">
        <div class="left-disease">
            <p style="margin-top: 30px;"><img class="image" src="/static/images/cancer-ribbon-clipart-teal-7.png">Cancer-Care</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Dentalcare.png">Dental Care</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Darmatology.jpeg">Darmatology</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Cardiology.png">Cardiology</p>
        </div>
    </div>
        <div style="display: inline-flex;">
        <div class="right-disease">
            <p style="margin-top: 30px;"><img class="image" src="/static/images/ENT.jpeg">ENT (Ear-Nose-Throat)</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/Gastroinstential.jpeg">Gastroinstential</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/fertility.png">IVF Infertility</p>
            <p style="margin-top: 30px;"><img class="image" src="/static/images/lungtransplant.png">Lung Transplantation</p>
        </div>
    </div>
    <br>
    <button class="view-more">
        VIEW MORE
    </button>
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                
                <h1>Online Doctor Appointment</h1>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Doctors</a></li>
                    <li><a href="#">Appointments</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <a href="#">Facebook
                <a href="#">Twitter
                <a href="#">Instagram
            </div>
        </div>
    </footer>
    
</body>
</html>
