<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
    <div id="id01" class="modal">
        <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
        <form class="modal-content" >
          <div class="container">
            <h1>Signup</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <label for="name"><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" name="fname" required>
            <label for="name"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" name="lname" required>
      
      
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email-id" name="email" required>
            <label for="email"><b>Enter Email Again</b></label>
            <input type="text" placeholder="Repeat email" name="cemail" required>
            <label for="name"><b>Mobile no</b></label>
            <input type="text" placeholder="Enter Mobile no" name="mob" required>
             <label for="name"><b>City</b></label>
            <input type="text" placeholder="Enter City" name="city" required>
      
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="passwd" required>
      
            <label for="psw-repeat"><b>Enter Password Again</b></label>
            <input type="password" placeholder="Repeat Password" name="passwd" required>
            
            <label>
              <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
      
            <p>By creating an account you agree to our <a href="#" style="color:teal">Terms & Privacy</a>.</p>
      
            <div class="clearfix">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <button type="submit" class="signupbtn">Sign Up</button>
            </div>
          </div>
        </form>
      </div>




      <footer>
        <div class="footer-content">
            <div class="footer-logo">
                
                <h1>Online Doctor Appointment</h1>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Doctors</a></li>
                    <li><a href="#">Appointments</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <a href="#">Facebook
                <a href="#">Twitter
                <a href="#">Instagram
            </div>
        </div>
    </footer>
</body>
</html>